<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Demo App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card *ngFor="let image of uploadedList">
      <ion-card-header>
        <ion-card-subtitle>
          {{ image.timestamp | date: 'medium' }}
        </ion-card-subtitle>
        <!-- <ion-card-title>Card Title</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
        <ion-img [src]="image.url"></ion-img>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="ion-padding" *ngIf="emptyList">
    <ion-grid>
      <ion-row>
        <h4>Uploaded List is Empty</h4>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="loadingRequest">
    <div class="ion-padding custom-skeleton" *ngFor="let item of [1, 2, 3, 4]">
      <div style="padding: 0px 10px">
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
      </div>
      <div style="padding: 10px">
        <ion-skeleton-text
          animated
          style="width: 100%; height: 300px"
        ></ion-skeleton-text>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="loadContents()">
        <ion-icon name="refresh"></ion-icon> Reload
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="actionUpload()">
        <ion-icon name="add-circle"></ion-icon> Upload
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
